<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- for Google -->
		<meta name="description" content="Show the inactive github repos you starred" />
		<meta name="keywords" content="github,lazyhub" />

		<meta name="author" content="Chien-Wei Huang" />
		<meta name="application-name" content="lazyhub" />

		<!-- for Facebook -->          
		<meta property="og:title" content="lazyhub" />
		<meta property="og:site_name" content="Lazyhub"/>
		<meta property="og:type" content="website" />
		<meta property="og:image" content="http://lazyhub.info/static/images/caca.png" />
		<meta property="og:url" content="http://lazyhub.info" />
		<meta property="og:description" content="Show the inactive github repos you starred" />

		<!-- for Twitter -->          
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="lazyhub" />
		<meta name="twitter:description" content="Show the inactive github repos you starred" />
		<meta name="twitter:image" content="http://lazyhub.info/static/images/caca.png" />
		<meta name="twitter:domain" content="lazyhub.info" />
		<meta name="twitter:site" content="@carl830" />
		<meta name="twitter:creator" content="@carl830" />

		<title>Lazyhub</title>
		{% load staticfiles %}
		{% if debug %}
		<link rel="stylesheet" href="{% static "vendor/bootstrap3/css/bootstrap.min.css" %}">
		{% else %}
			{% load bootstrap3 %}
			{% bootstrap_css %}
		{% endif %}
		<link rel="stylesheet" href="{% static "vendor/animate/animate.min.css" %}">
		<link rel="stylesheet" href="{% static "css/style.css" %}">
		{% if not debug %}
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-24249240-6', 'lazyhub.info');
			ga('send', 'pageview');
		</script>
		{% endif %}
	</head>
	<body>
		{% block bootstra3_content %}
		<div class="row">
			<div id="content" class="col-sm-10 col-sm-offset-1">
				<h1>{% block title %}(no title){% endblock %}</h1>
				{% block content %}(no content){% endblock %}
			</div>
		</div>
		{% if debug %}
		<script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
		<script src="{% static "vendor/bootstrap3/js/bootstrap.min.js" %}"></script>
		<script src="{% static "vendor/underscore.js/1.6.0/underscore-min.js" %}"></script>
		<script src="{% static "vendor/backbone.js/1.1.2/backbone-min.js" %}"></script>
		{% else %}
		{% bootstrap_javascript jquery=True %}
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
		{% endif %}
		<script src="{% static "js/lazyhub.js" %}"></script>
		{% endblock %}
	</body>
</html>
