<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Lazyhub</title>
		{% load staticfiles %}
		{% if debug %}
		<link rel="stylesheet" href="{% static "vendor/bootstrap3/css/bootstrap.min.css" %}">
		{% else %}
			{% load bootstrap3 %}
			{% bootstrap_css %}
		{% endif %}
		<link rel="stylesheet" href="{% static "vendor/animate/animate.min.css" %}">
		<link rel="stylesheet" href="{% static "css/style.css" %}">
		<style>
			body {
			padding-top: 60px;
			padding-bottom: 100px;
			}
		</style>
	</head>
	<body>
		<!--
		<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
		<div class="container">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Lazyhub</a>
			<nav class="nav-collapse collapse" role="navigation">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
			</ul>
			</nav>
		</div>
		</header>
		-->
		{% block bootstra3_content %}
		<div class="row">
			<div id="content" class="col-sm-10 col-sm-offset-1">
				<h1>{% block title %}(no title){% endblock %}</h1>
				{% block content %}(no content){% endblock %}
			</div>
		</div>
		{% if debug %}
		<script src="{% static "vendor/bootstrap3/js/jquery-1.10.2.min.js" %}"></script>
		<script src="{% static "vendor/bootstrap3/js/bootstrap.min.js" %}"></script>
		{% else %}
		{% bootstrap_javascript jquery=True %}
		{% endif %}
		
		<script src="{% static "js/lazyhub.js" %}"></script>
		{% endblock %}
	</body>
</html>
