header, section, footer, aside, nav, article, figure { 
	display: block; 
}

#content {
	padding-top: 120px;
	text-align: center;
}

.github-button {
	margin: 0 0.5em;
	overflow: hidden;
	border-width:0px;
	height: 30px;
}

#github-form {
	padding-top: 60px;
	padding-bottom: 10px;
}

.input-group-simple, .has-error .input-group-addon {
	border: none;
	background-color: inherit;
	font-size: 1.2em;
}

#days {
	border-radius: 4px;
}

#search-form {
    padding-bottom: 40px;
}

#repo-table th{
	text-align: center;
}

#repo-table td{
	text-align: center;
}

#loading {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
}

#loading.hidden {
	display: inline-block;
	visibility: hidden;
}

@media(max-width:767px) {
	h1 {
		font-size: 5em;
	}
	#tagline {
		font-size: 1.8em;
	}

	/* 
	 * Because the animation make the repo table
	 * show incorrectly with small device,
	 * here I just remove the animation as a workaround
	 */
	#repo-table tr{
		-webkit-animation-name: none;
		animation: none;
	}

}
@media(min-width:768px) {
	h1 {
		font-size: 8em;
	}
	#tagline {
		font-size: 2em;
	}
	#repo-table {
		font-size: 1.2em;
	}
}
@media(min-width:992px) {
}
@media(min-width:1200px) {
}
